.footer_container{
  display: flex;
  height: 250px;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(17,17,17,1);

}

.contact{
  width: 49%;
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.footer_right{
  display: flex;
  flex-direction: row-reverse;
  width: 49%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.social{
  margin-right: 25px;
}
.map{
  height:150px;
  width:150px;
  background-color: grey;
  margin-left: 70px;
}

p{
  color: #7f7f7f;
  padding: 10px;
}

.contact_p {
  color: white;
}

.social_p{
  color: white;

}
